.flexbox-parent{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }

  .flex-centered{
    padding: 40px;
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
  }
/* 
  .mat-card{
    background-color: #323232;
  }

  .white-text{
      color: #F0F0F0;
  }

  .color-red{
      color: #FF3333;
  }

  .color-blue{
    color: #0092CC;
  }

  .color-green{
    color: #779933;
  } */
